@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Tut controllers</h1>
    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
    <a class="nav-link text-dark" asp-area="" asp-controller="Buildings" asp-action="Index">Корпуса</a>
    <a class="nav-link text-dark" asp-area="" asp-controller="Floors" asp-action="Index">Этажи</a>
    <a class="nav-link text-dark" asp-area="" asp-controller="Rooms" asp-action="Index">Аудитории</a>
    <a class="nav-link text-dark" asp-area="" asp-controller="RTypes" asp-action="Index">Типы аудиторий</a>
    <a class="nav-link text-dark" asp-area="" asp-controller="Laboratories" asp-action="Index">Лаборатории</a>
    <a class="nav-link text-dark" asp-area="" asp-controller="Departments" asp-action="Index">Кафедры</a>
    <a class="nav-link text-dark" asp-area="" asp-controller="Faculties" asp-action="Index">Факультеты</a>
    <a class="nav-link text-dark" asp-area="" asp-controller="Positions" asp-action="Index">Позиции аудиторий</a>
    <p></p><p></p><p></p><p></p>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
