@model List<string>

@{
    ViewData["Title"] = "Задания";
}

<h1>Задания</h1><p></p>
<h2><a asp-action="Task1">Задание 1</a></h2>
<h2><a asp-action="Index">Задание 2 (не реализованно) </a></h2>
<h2><a asp-action="Index">Задание 3 (не реализованно) </a></h2>
<h2><a asp-action="Index">Задание 4 (не реализованно) </a></h2>

